In [12]:
# Prime numbers

i,temp=0,0
n = int(input("Enter the number : "))
# n=23
for i in range(2,n//2):
    if n%i == 0:
        temp=1
        break
if temp == 1:
    print("not prime")
else:
    print("prime")

Enter the number : 5
prime

In [9]:
23//2

11

In [7]:
#for lop

a = [10,20,30,40]
for num in a:
    print(num,end=" ")

10 20 30 40

In [40]:
# greatest of 3

n1 = int(input("Enter the number1 : ")) 
n2 = int(input("Enter the number2 : ")) 
n3 = int(input("Enter the number3 : ")) 

if (n1>n2) and (n1>n3):
    largest=n1
elif (n2>n1) and (n2>n3):
    largest=n2
else:
    largest=n3
    
print("largest number is",largest)

Enter the number1 : 33
Enter the number2 : 2
Enter the number3 : 55
largest number is 55

In [42]:
#squareroot of number

n = int(input("Enter the number"))

print(n**0.5)

Enter the number25
5.0

In [45]:
n = input("Enter the name")

print(n.upper())

Enter the namePrachi chutiya
PRACHI CHUTIYA

In [33]:
#even odd

n = int(input("ENter the number"))

if n%2==0:
    print("Even")
else:
    print("Odd")

ENter the number34
Even

In [38]:
#smallest of 3

a = int(input("Enter the value for a :"))
b = int(input("Enter the value for b :"))
c = int(input("Enter the value for c :"))

if a<=b and a<=c:
	print(a," is smallest")
elif b<=a and b<=c:
	print(b," is smallest")
elif c<=a and c<=b:
	print(c," is smallest")

Enter the value for a :23
Enter the value for b :21
Enter the value for c :4
4  is smallest

In [ ]:
#reverse intergers

n = int(input("ENter the number : "))
print("Number before reverse : ",n)
reverse = 0
while n!=0
    reverse = reverse*10 + n%10
    n = (n//10)

In [1]:
#Armstrong number

3 2

In [30]:
#febonassi series

first=0
second=1
# result=0
n = int(input("Enter the number"))
for i in range(0,n):
    if i<=1:
        result=i
    else:
        result=first + second
        first = second
        second = result
    print(result)

Enter the number5
0
1
1
2
3

In [2]:
n = int(input("Enter the num"))

# while (n>0):
#     j = n%10
#     if j!=0 and j!=1:
#         print("num is not binary")
#         break
#     n = n//10
#     if n == 0:

Enter the num1010
not binary

In [7]:
#smallest in array

arr = []
n = int(input("Enter the sixe of arr"))

for x in range(n):
    x = int(input("Enter the element"))
    arr.append(x)
largest = arr[0]
smallest = arr[0]
for i in range(n):
    if arr[i]>largest:
        largest = arr[i]
    if arr[i]<smallest:
        smallest = arr[i]
        
print("largest in the array is ",largest)
print("Smallest in the array is ",smallest)

Enter the sixe of arr2
Enter the element23
Enter the element1
largest in the array is  23
Smallest in the array is  1

In [6]:
n = int(input("Enter the number : "))
sum = 0
for i in range(0,n+1):
    sum = sum + i
print(sum)

Enter the number : 10
55

In [1]:
#print reverse array
size  = int(input("Enter the size of array"))
arr = []
revarr = []

for x in range(size):
    elem = int(input("Enter the number"))
    arr.append(elem)
print("Normal Array = ",arr)
startIndex = 0
lastIndex = size - 1

while (lastIndex>=0):
    revarr.append(arr[lastIndex])
#     startIndex+=1
    lastIndex-=1
    
print("Array in reverse order")
print(revarr)
# for i in range(0,size):
#     print(revarr[i])

Enter the size of array3
Enter the number11
Enter the number22
Enter the number33
Normal Array =  [11, 22, 33]
Array in reverse order
[33, 22, 11]

In [25]:
arr = []
size = int(input("Enter size"))

for i in range(size):
    ele = int(input("Enter number"))
    arr.append(ele)
print("Array before reverse: ",arr)
res = arr[::-1]
print("Array after reverse : ",res)

Enter size4
Enter number11
Enter number22
Enter number33
Enter number44
Array before reverse:  [11, 22, 33, 44]
Array after reverse :  [44, 33, 22, 11]

In [12]:
arr =[10,20,3,3,4,5,6,6,6,"rohan"]
# arr[2][3]
# arr
# arr.count("rohan")
arr.pop(6)   #remove last element and return its value
print(arr)
arr.pop(1)   #if valur is not present,it will consider it as index
print(arr)

[10, 20, 3, 3, 4, 5, 6, 6, 'rohan']
[10, 3, 3, 4, 5, 6, 6, 'rohan']

In [8]:
#prime number
temp=0
n=int(input("Enter the number"))
for i in range(2,n//2+1):
    if n%i == 0:
        temp=1
        break
if temp==1:
    print("Not a prime number")
else:
    print("prime number")

Enter the number1
prime number

In [11]:
#reverse number

n = int(input("Enter the number : "))
reverse = 0
while n!=0:
    reverse = reverse*10 + n%10
    n = n//10
print(reverse)

Enter the number12345
54321

In [15]:
#swap

a = int(input("enter number"))
b = int(input("enter number"))
print("Before swap")
print("a=",a)
print("b=",b)
a,b=b,a
print("After swap")
print("a=",a)
print("b=",b)

enter number23
enter number55
Before swap
a= 23
b= 55
After swap
a= 55
b= 23

In [24]:
n = 234
print(n)
n.reverse()
print(n)

234

AttributeError: 'int' object has no attribute 'reverse'

In [3]:
#calculator

def add(x,y):
    return x + y
def substract(x,y):
    return x - y
def multiply(x,y):
    return x * y
def divide(x,y):
    return x / y

print("Select operation")
print("1.Add")
print("2.Substract")
print("3.Multiply")
print("4.Divide")

while True:
    choice = int(input("Enter the choice(1/2/3/4)"))
    
    if choice in range(1,5):
        num1 = int(input("Enter the first number"))
        num2 = int(input("Enter second number"))
        
        if choice == 1:
            print(num1, "+", num2,"=",add(num1,num2))
        
        elif choice == 2:
            print(num1, "-", num2,"=",substract(num1,num2))
            
        elif choice == 3:
            print(num1, "*", num2,"=",multiply(num1,num2))
            
        else:
            print(num1, "/", num2,"=",divide(num1,num2))
        break  
    else:
        print("Incorrect choice")

Select operation
1.Add
2.Substract
3.Multiply
4.Divide
Enter the choice(1/2/3/4)3
Enter the first number12
Enter second number23
12 * 23 = 276

In [5]:
sh = "I love rohan"

# sh.find('rohan') # gives index of firstcharacter of substring
sh.split( ' ')    # seperates string by value entered

7

In [7]:
#Tuples---ordered collection of elements enclosed within()
#immutable

tup = (1,2,3)
# type(tup)
# tup[1:4]
# tup[1] = False #cannot change (immutable)

tup2 = (4,5,6)
# tup1 + tup2 #concatination
# tup1*3      #only concatination
# tup1
# tup1
# min(tup1)
# max(tup1)
tup.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
ls = [1,2,3,4,5]
for i in ls:
#     i = i*2
    ls.append(i*2)
print(ls)

In [ ]:
ls = [1,2,3,45]
print(ls)

In [12]:
#Dictionaries ---mutable---key-value pairs

d = {'Apple':50,'Mango':300,'Banana':500}
print(d)
# type(d)
d.keys()
d.values()

{'Apple': 50, 'Mango': 300, 'Banana': 500}

dict_values([50, 300, 500])

In [19]:
#star pattrn half pyramid

for i in range(1,6):
#     print('*')
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [23]:
a=23
b=24
temp=a
a=b
b=temp
print(a)
print(b)

24
23

In [7]:
#strings

a = "hell ia m arohan"
# print(a.replace('h','m'))
ls = list(a)
print(ls)
# ls.replace('a','s')
print(ls)
print(a)

['h', 'e', 'l', 'l', ' ', 'i', 'a', ' ', 'm', ' ', 'a', 'r', 'o', 'h', 'a', 'n']

AttributeError: 'list' object has no attribute 'replace'

In [8]:
#stack

s = mystack()
s.push(10)
s.push(20)
s.push(30)

NameError: name 'mystack' is not defined